/* GENERAL */
body,#wrapper,html {
  overflow-x: hidden;
  height:100%;
  max-width: 100%;
  background-image: linear-gradient(to top,#3382b4,#68a6c8,#91bdd8, #a4cbdf,#c4dde8);


}
.container {
  max-height:100%;
}
a,li {
  color: black;
}

/* HOMEPAGE */

#background {

  box-sizing: content-box;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-image: url("../images/landmark.png");
  background-repeat: no-repeat;
}

/* JOURNEYSPAGE */

.trainsFind{
  width : 65vw;
}

.table-borderless {
  width : 75vw;
}

/* INDEX : login */
  /* Pour afficher le mot de passe */
.wrapper{
  display: flex;
  align-items: center;
  width: 300px;
  border-radius: 5px;
  padding: 2px;
}
#pass:focus{
  outline: none;
}
#pass{
  width: 88%;
  border: none;
  border-right: 0.25px rgb(88, 81, 81) solid;
}
#visiblity-toggle{
  color: grey;
  cursor: pointer;
  margin: 0 2px;
}

