/* GENERAL */
body,#wrapper,html {
  overflow-x: hidden;
  height:100%;
  max-width: 100%;
  background-image: linear-gradient(to top, #244b88, #3c67a5, #5485c3, #6da3e1, #87c3ff);


}
.container {
  max-height:100%;
}
a,li {
  color: black;
}

/* HOMEPAGE */

#background {

  box-sizing: content-box;
  width: 300px;
  height: 300px;
  background-size: contain;
  background-image: url("../images/landmark.png");
  background-repeat: no-repeat;
}