<div class="row">
    <nav class="navbar navbar-light bg-light py-4 px-5 fw-bold">
      <div class="container-fluid">

        <a class="navbar-brand " href="#">
          <img src="/images/train.png" alt="logo du site" width="43" height="32" class="d-inline-block align-text-top">
          TickeTac
        </a>

        <div>
           <ul class="d-flex flex-row navbar-nav ms-auto mb-2 mb-lg-0 ">

          <li class="nav-item px-2 fs-5 me-4">
            <a style="color:rgb(238, 11, 11)" class="nav-link" aria-current="page" href="#">Connexion</a>
          </li>

          <li class="nav-item px-2 fs-5">
            <a style="color:black"  class="nav-link" href="#">My last trip</a>
          </li>

        </ul>
        </div>



      </div>
    </nav>
  </div>