<div class="row">
    <nav class="navbar navbar-light bg-light py-4 px-5 fw-bold">
      <div class="container-fluid">

        <a class="navbar-brand " href="/homepage">
          <img src="/images/train.png" alt="logo du site" width="35" height="35" class="d-inline-block align-text-center">
          TickeTac
        </a>

        <div>
           <ul class="d-flex flex-row navbar-nav ms-auto mb-2 mb-lg-0 ">

            
            <!-- Si l'utilisateur est connecté nous affichons son nom -->
            <% if (user) {%> 
              <!-- Pour se déconnecté -->
              <li class="nav-item px-2 fs-5 me-4">
                <a href="/logout" style="color:rgb(238, 11, 11)" class="nav-link" aria-current="page" href="#">log out</a>
              </li>

              <!-- Prénom de l'utilisateur -->
              <li class="nav-item px-2 fs-5 me-4">
                <a style="color:black"  href="#" class="nav-link" aria-current="page" href="#">Bonjour, <%= user.firstName %> </a>
              </li>

              <li class="nav-item px-2 fs-5">
                <a href="/mylasttrip?id=<%= user.id%>" style="color:black"  class="nav-link" href="#">My last trip</a>
              </li>

              <!-- Si l'utilisateur n'est pas connecté -->
            <% } else { %>
              <li class="nav-item px-2 fs-5 me-4">
                <a  style="color:rgb(238, 11, 11)" class="nav-link" aria-current="page" href="#">Connexion</a>
              </li>

              <li class="nav-item px-2 fs-5">
                <a href="/" style="color:black"  class="nav-link" href="#">My last trips</a>
              </li>

            <% } %>
            
              

        </ul>
        </div>



      </div>
    </nav>
  </div>